.lol {
    text-align: center;
    color: #00ff99;
    border-style: solid;
}

.dubs {
    background-color: #33ccff;
}


table, th, td {
    border: 1px solid black;
}

.kyle:hover {
    background-color: black;
}

.kyle1 {
    text-align: center;
    
}

.kyle1:hover {
    background-color: red;
}


.kyle2 {
    text-align: right;
}


.kyle2:hover {
    background-color: green;
}




.center {
    width: 7%;
    margin-left: auto;
  margin-right: auto;
}
